.contentcardpie {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: rgb(2, 65, 101);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reservationcontent-inner,
.reservationcontent:hover {
    visibility: visible;
}

.reservationcontent .reservationcontent-inner {
    height: 100%;
}
.reservationcontent {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
}
.reservationcontent {
    border-radius: 10px;
    z-index: 1;
}